<div class="ui raised segment">
  <h2 class="ui header">User Details of {{currentUser.firstName}}</h2>
  <form #f="ngForm"
        (ngSubmit)="onSubmit(f.value)"
        class="ui form">
    <div class="field right" align="right"><img name="imageUrl" [src]="currentUser.imageUrl" #ngModel class="right"/></div>
    
    <div class="two fields">
      <div class="field">
        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               placeholder="first name"
               name="firstName" [(ngModel)]="currentUser.firstName" #firstName="ngModel">
        <!--<div *ngIf="!sku.valid" class="ui error message">SKU is invalid</div>-->
        <!--<div *ngIf="sku.hasError('required')" class="ui error message">SKU is required</div>-->
      </div>
    
      <div class="field">
        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               placeholder="last name"
               name="lastName" [(ngModel)]="currentUser.lastName" #lastName="ngModel">
      </div>
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input type="text"
               id="email"
               placeholder="email"
               name="email" [(ngModel)]="currentUser.contactList[0].value" #email="ngModel">
    </div>
    

    
    <div class="field">
      <label for="user.addressType">Address Type</label>
      <ul class="ui horizontal list">
        <li class="item">
          <input type="checkbox">Home Office
        </li>
        <li class="item">
          <input type="checkbox">Office
        </li>
        <li class="item">
          <input type="checkbox">Mailing Address
        </li>
        <li class="item">
          <input type="checkbox">Store
        </li>
      </ul>
    </div>
    <app-google-map></app-google-map>
    <div class="field">
      <label for="user.address">Address</label>
      <input type="text"
             id="address"
             placeholder="address"
             name="address" [(ngModel)]="address">
    </div>
    <div class="two fields">
      <div class="field">
        <label for="user.suite">Suite / Apartment</label>
        <input type="text"
               id="suite"
               placeholder="suite / apartment"
               name="suite" ngModel>
      </div>
      <div class="field">
        <label for="user.building">Building #</label>
        <input type="text"
               id="building"
               placeholder="building"
               name="building" ngModel>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label for="user.city">City</label>
        <input type="text"
               id="city"
               placeholder="city"
               name="city" [(ngModel)]="city">
      </div>
      <div class="field">
        <label for="user.state">State</label>
        <input type="text"
               id="state"
               placeholder="state"
               name="state" [(ngModel)]="state">
      </div>
      <div class="field">
        <label for="user.zipCode">Zip / Postal Code</label>
        <input type="text"
               id="zipCode"
               placeholder="zip / postal code"
               name="zipCode" [(ngModel)]="zipCode">
      </div>
    </div>
    <div class="field">
      <label for="user.country">Country</label>
      <input type="text"
             id="country"
             placeholder="country"
             name="country" [(ngModel)]="country">
    </div>
    
    <h4 class="ui top attached header" style="background-color: #D3D3D3">Contact Information</h4>
    <div class="ui attached segment">
      
      <div class="three fields">
        <div class="field">
          <label for="user.phone">Phone</label>
          <input type="text"
                 id="phone"
                 placeholder="phone"
                 name="phone" [(ngModel)]="currentUser.contactList[1].value">
        </div>
        <div class="field">
          <label for="user.mobile">Mobile</label>
          <input type="text"
                 id="mobile"
                 placeholder="mobile"
                 name="mobile" ngModel>
        </div>
        <div class="field">
          <label for="user.fax">Fax</label>
          <input type="text"
                 id="fax"
                 placeholder="fax"
                 name="fax" ngModel>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label for="user.email">Email</label>
          <input type="text"
                 id="email2"
                 placeholder="email"
                 name="email2" [(ngModel)]="currentUser.contactList[0].value">
        </div>
        <div class="field">
          <label for="user.website">Website</label>
          <input type="text"
                 id="website"
                 placeholder="website"
                 name="mobwebsiteile" ngModel>
        </div>
        <div class="field">
          <label for="user.facebook">Facebook</label>
          <input type="text"
                 id="facebook"
                 placeholder="facebook"
                 name="facebook" ngModel>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
          <label for="user.linkedin">Linkedin</label>
          <input type="text"
                 id="linkedin"
                 placeholder="linkedin"
                 name="linkedin" ngModel>
        </div>
        <div class="field">
          <label for="user.google">Google+</label>
          <input type="text"
                 id="google"
                 placeholder="google"
                 name="google" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter">Twitter</label>
          <input type="text"
                 id="twitter"
                 placeholder="twitter"
                 name="twitter" ngModel>
        </div>
      </div>
    </div>


    <h4 class="ui top attached header" style="background-color: #D3D3D3">Listing Type</h4>
    <div class="ui attached segment">
      
      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Automotive</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Beauty &amp; Personal Care</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Business Services</label>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Caregiving</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Computers &amp; Electronics</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Educations &amp; Lessons</label>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Entertainment</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Events &amp; Vendors</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Finance</label>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Food &amp; Dining</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Health &amp; Fitness</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Home Contractors</label>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>IT &amp; Technology</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Legal &amp; Immigration</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Pets</label>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Physician / Doctor</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Real Estate</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Religious &amp; Non-Profit</label>
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Retail &amp; Shopping</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Travel &amp; Transportation</label>
          </div>
        </div>
      </div>
    </div>

    <h4 class="ui top attached header" style="background-color: #D3D3D3">Opening Hours</h4>
    <div class="ui attached segment">
      
      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Monday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Tuesday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Wednesday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Thursday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Friday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Saturday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="user.twitter">Sunday</label>
          <input type="text"
                 id="twitter"
                 placeholder="09:00 AM"
                 name="twitter" ngModel>
        </div>
        <div class="field">
          <label for="user.twitter"><br/></label>
          <input type="text"
                 id="twitter"
                 placeholder="07:00 PM"
                 name="twitter" ngModel>
        </div>
      </div>
    </div>

    <h4 class="ui top attached header" style="background-color: #D3D3D3">Additional Sections</h4>
    <div class="ui attached segment">
      
      <div class="four fields">
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Appliance Repair</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Appliance Brands Repaired</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Response Time</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Accepted Forms of Payment</label>
          </div>
        </div>
      </div>
    </div>

    <br/>
    <div class="row" align="right">
      <button type="submit" class="ui button">Save</button>
    </div>
  </form>
</div>
